/* styling */

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  background-color: rgba(0, 0, 0, 0.938);
  color: rgba(255, 255, 255, 0.911);
  text-align: center;
  margin: 0;
  line-height: 1.35;
  
}

/* hero-section styling and view state */

.hero-img {
  
  background-image: url(https://media.istockphoto.com/id/1299973245/photo/asia-at-night-planet-earth-city-lights-space.jpg?s=612x612&w=0&k=20&c=0m4NlQPwZbzd_z01iiV62gTMZUTyoNk9_QZztZHltKE=);
 

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  padding: 1rem;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

/* hero section styling */

.hero-section {

  max-width: 100vmin;
  margin: 0 auto;
  padding: 1rem;
  background-color: transparent;

}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 65px;
  color: rgb(34, 250, 34);
  margin-bottom: 0.5rem;
  
}

p {
  font-size: 20px;
  padding-bottom: 20px;
  max-width: 35ch;
  
}

/* call to action styling */

.ctabutton {

  display: inline-block;
  background-color: rgba(26, 56, 223, 0.938);
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 37px;
  
  padding: 1rem;
  border-radius: 5px;
  margin-top: 0.5rem;

}

/* hover state effects */

a:hover {

  color: yellow;
  background-color: rebeccapurple;
  text-decoration: underline;

}


  /* alternate background images */

  /* background-image: url(https://media.istockphoto.com/id/1074862222/photo/planets-and-galaxy-cosmos-physical-cosmology-science-fiction-wallpaper.jpg?s=2048x2048&w=is&k=20&c=RWHkC9cZ1GnOm5V-a2lHLgQSi5wNanFnqDtF49QzXUc=); */

  /* background-image: url(https://media.istockphoto.com/id/160306742/photo/hot-sunrise-in-space.jpg?s=612x612&w=0&k=20&c=YP6Rd0o-hL_9mqdg77AyP7vTuqf7fxOITTRpgs-kvoE=); */